[run]
source = .
omit =
    */migrations/*
    */tests/*
    */__pycache__/*
    */venv/*
    manage.py
    config/settings.py
    config/wsgi.py
    config/asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if settings.DEBUG
    pass
    raise ImportError
    if 0:
    if __name__ == .__main__.:

[html]
directory = htmlcov 