-- Migration: Initial VetAssist database schema
-- Created at: 2025-04-13 20:35:00 UTC
-- Description: Creates Django auth tables and application schema
-- This migration implements:
-- 1. Django's auth system tables (auth_user, auth_group, permissions)
-- 2. Application specific tables

-- Create Django auth tables first since they are referenced by other tables
-- Django auth_group table
create table "auth_group" (
    id serial primary key,
    name varchar(150) not null unique
);

-- Django auth_permission table
create table "auth_permission" (
    id serial primary key,
    name varchar(255) not null,
    content_type_id integer not null,
    codename varchar(100) not null,
    constraint auth_permission_content_type_id_codename_key unique (content_type_id, codename)
);

-- Django auth_user table
create table "auth_user" (
    id serial primary key,
    password varchar(128) not null,
    last_login timestamp with time zone,
    is_superuser boolean not null,
    username varchar(150) not null unique,
    first_name varchar(150) not null,
    last_name varchar(150) not null,
    email varchar(254) not null,
    is_staff boolean not null,
    is_active boolean not null,
    date_joined timestamp with time zone not null
);

-- Django content_type table
create table "django_content_type" (
    id serial primary key,
    app_label varchar(100) not null,
    model varchar(100) not null,
    constraint django_content_type_app_label_model_key unique (app_label, model)
);

-- Add foreign key for auth_permission
alter table "auth_permission" 
    add constraint auth_permission_content_type_id_fkey 
    foreign key (content_type_id) 
    references django_content_type(id) 
    on delete cascade;

-- Django auth_group_permissions table
create table "auth_group_permissions" (
    id serial primary key,
    group_id integer not null references auth_group(id) on delete cascade,
    permission_id integer not null references auth_permission(id) on delete cascade,
    constraint auth_group_permissions_group_id_permission_id_key unique (group_id, permission_id)
);

-- Django auth_user_groups table
create table "auth_user_groups" (
    id serial primary key,
    user_id integer not null references auth_user(id) on delete cascade,
    group_id integer not null references auth_group(id) on delete cascade,
    constraint auth_user_groups_user_id_group_id_key unique (user_id, group_id)
);

-- Django auth_user_user_permissions table
create table "auth_user_user_permissions" (
    id serial primary key,
    user_id integer not null references auth_user(id) on delete cascade,
    permission_id integer not null references auth_permission(id) on delete cascade,
    constraint auth_user_user_permissions_user_id_permission_id_key unique (user_id, permission_id)
);

-- Django session table
create table "django_session" (
    session_key varchar(40) primary key,
    session_data text not null,
    expire_date timestamp with time zone not null
);

-- Create index for session expire date
create index django_session_expire_date_idx on django_session(expire_date);

-- Django admin log table
create table "django_admin_log" (
    id serial primary key,
    action_time timestamp with time zone not null,
    object_id text,
    object_repr varchar(200) not null,
    action_flag smallint not null constraint django_admin_log_action_flag_check check (action_flag >= 0),
    change_message text not null,
    content_type_id integer references django_content_type(id) on delete set null,
    user_id integer not null references auth_user(id) on delete cascade
);

-- Create indexes for Django auth tables
create index auth_group_name_like on auth_group(name varchar_pattern_ops);
create index auth_user_username_like on auth_user(username varchar_pattern_ops);
create index django_admin_log_content_type_id_idx on django_admin_log(content_type_id);
create index django_admin_log_user_id_idx on django_admin_log(user_id);

-- Create enum types for log levels
do $$ begin
    create type log_level as enum ('debug', 'info', 'warning', 'error', 'critical');
exception
    when duplicate_object then null;
end $$;

-- User profiles table (extends Django auth_user)
create table "profiles" (
    id bigserial primary key,
    user_id integer references auth_user(id) not null unique,
    is_active boolean not null default true,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Species table
create table "species" (
    id bigserial primary key,
    name varchar(20) not null unique,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    created_by integer references auth_user(id) not null
);

-- Measurement units table
create table "measurement_units" (
    id bigserial primary key,
    short_name varchar(5) not null unique,
    name varchar(20) not null unique,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    created_by integer references auth_user(id) not null
);

-- Drugs table
create table "drugs" (
    id bigserial primary key,
    name varchar(20) not null,
    active_ingredient varchar(20) not null,
    species_id bigint references species(id) not null,
    contraindications varchar(100),
    measurement_value numeric(10,5) not null,
    measurement_target_id bigint references measurement_units(id) not null,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    created_by integer references auth_user(id) not null
);

-- Custom drugs table
create table "custom_drugs" (
    id bigserial primary key,
    name varchar(20) not null,
    active_ingredient varchar(20) not null,
    species_id bigint references species(id) not null,
    contraindications varchar(100),
    measurement_value numeric(10,5) not null,
    measurement_target_id bigint references measurement_units(id) not null,
    user_id integer references auth_user(id) not null,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    created_by integer references auth_user(id) not null
);

-- Drug interactions table (AI response cache)
create table "drug_interactions" (
    id bigserial primary key,
    query text not null,
    result text not null,
    context varchar(50),
    positive_rating int not null default 0,
    negative_rating int not null default 0,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    created_by integer references auth_user(id) not null
);

-- Drug interactions to drugs mapping table
create table "drug_interactions_drugs" (
    drug_interactions_id bigint references drug_interactions(id) not null,
    drug_id bigint references drugs(id) not null,
    primary key (drug_interactions_id, drug_id)
);

-- Treatment guides table (AI response cache)
create table "treatment_guides" (
    id bigserial primary key,
    query text not null,
    result text not null,
    factors jsonb not null,
    positive_rating int not null default 0,
    negative_rating int not null default 0,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    created_by integer references auth_user(id) not null
);

-- System logs table
create table "system_logs" (
    id bigserial primary key,
    timestamp timestamp with time zone default timezone('utc'::text, now()) not null,
    log_level log_level not null,
    message text not null,
    source varchar(20) not null,
    user_id integer references auth_user(id)
);

-- User search history table
create table "user_search_history" (
    id bigserial primary key,
    user_id integer references auth_user(id) not null,
    module varchar(20) not null,
    query text not null,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Create indexes
create index idx_drugs_name on drugs(name);
create index idx_drugs_active_ingredient on drugs(active_ingredient);
create index idx_drugs_species_id on drugs(species_id);

create index idx_custom_drugs_name on custom_drugs(name);
create index idx_custom_drugs_active_ingredient on custom_drugs(active_ingredient);
create index idx_custom_drugs_user_species on custom_drugs(user_id, species_id);

create index idx_drug_interactions_created_at on drug_interactions(created_at);
create index idx_drug_interactions_created_by on drug_interactions(created_by);

create index idx_treatment_guides_factors on treatment_guides using gin(factors);
create index idx_treatment_guides_created_at on treatment_guides(created_at);
create index idx_treatment_guides_created_by on treatment_guides(created_by);

create index idx_system_logs_timestamp on system_logs(timestamp);
create index idx_system_logs_source on system_logs(source);
create index idx_system_logs_log_level on system_logs(log_level);
create index idx_system_logs_user_id on system_logs(user_id);

create index idx_user_search_history_user_id on user_search_history(user_id);
create index idx_user_search_history_module on user_search_history(module);
create index idx_user_search_history_user_module on user_search_history(user_id, module);
create index idx_user_search_history_created_at on user_search_history(created_at);

-- Create triggers for updated_at timestamps
create or replace function trigger_set_timestamp()
returns trigger as $$
begin
  new.updated_at = timezone('utc'::text, now());
  return new;
end;
$$ language plpgsql;

-- Add update triggers to all tables with updated_at
create trigger set_timestamp
    before update on profiles
    for each row
    execute function trigger_set_timestamp();

create trigger set_timestamp
    before update on species
    for each row
    execute function trigger_set_timestamp();

create trigger set_timestamp
    before update on measurement_units
    for each row
    execute function trigger_set_timestamp();

create trigger set_timestamp
    before update on drugs
    for each row
    execute function trigger_set_timestamp();

create trigger set_timestamp
    before update on custom_drugs
    for each row
    execute function trigger_set_timestamp();

create trigger set_timestamp
    before update on drug_interactions
    for each row
    execute function trigger_set_timestamp();

create trigger set_timestamp
    before update on treatment_guides
    for each row
    execute function trigger_set_timestamp();

create trigger set_timestamp
    before update on user_search_history
    for each row
    execute function trigger_set_timestamp();
